.diagnostics {
  background-color: #E5F5FD;
}

.diagnostics__wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 28px 10px 57px;
}

.diagnostics__header {
  font-weight: normal;
  font-size: 38px;
  line-height: 52px;
  margin: 0 0 50px;
  text-align: center;

  color: #0067B1;
}

.diagnostics__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.diagnostics__item {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  line-height: 27px;
  color: #6D6E70;

  &::before {
    content: "";
    min-width: 9px;
    min-height: 9px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #0067B1;
    margin-right: 12px;
  }

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
