.diagnostics {
  background-color: #E5F5FD;
}

.diagnostics__wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 28px 10px 57px;
}

.diagnostics__header {
  font-weight: normal;
  font-size: 38px;
  line-height: 52px;
  margin: 0 0 50px;
  text-align: center;

  color: #0067B1;
}

.diagnostics__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
